### 전역변수

In [1]:
a = 5

def func1():
    a = 1
    print("[func1] 지역 변수 a =",a)
def func2():
    a = 2
    print("[func2] 지역 변수 a =",a)
def func3():
    print("[func3] 지역 변수 a =",a)
def func4():
    global a
    a = 4
    print("[func4] 지역 변수 a =",a)

In [2]:
func1()
func2()
print("전역 변수 a=",a)

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
전역 변수 a= 5

In [3]:
func3()
func4()
func3()

[func3] 지역 변수 a = 5
[func4] 지역 변수 a = 4
[func3] 지역 변수 a = 4

### 람다(lambda) 함수

In [4]:
def my_student_info_list(student_info):
    print("***************************")
    print("* 학생이름:", student_info[0])
    print("* 학급번호:", student_info[1])
    print("* 전화번호:", student_info[2])
    print("***************************")

In [5]:
student_info = ["현아","01","01-235-6789"]
my_student_info_list(student_info)

***************************
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 01-235-6789
***************************

### 유용한 내장함수

In [6]:
[int(0.123),int(3.5123456),int(-1.312367)]

[0, 3, -1]

In [7]:
[int('1234'),int('5678'),int('-9012')]

[1234, 5678, -9012]

In [8]:
[float(0),float(123),float(-567)]

[0.0, 123.0, -567.0]

### 형 변환 함수

In [10]:
list_data = ['abc',1,2,'def']
tuple_data = ('abc',1,2,'def')
set_data = {'abc',1,2,'def'}

[type(list_data),type(tuple_data),type(set_data)]

In [11]:
print("리스트로 변환: ",list(tuple_data),list(set_data))

리스트로 변환:  ['abc', 1, 2, 'def'] ['abc', 1, 2, 'def']

In [12]:
print("튜플로 변환: ",tuple(list_data),tuple(set_data))

튜플로 변환:  ('abc', 1, 2, 'def') ('abc', 1, 2, 'def')

In [13]:
print("세트로 변환: ",set(list_data),set(tuple_data))

세트로 변환:  {'abc', 1, 2, 'def'} {'abc', 1, 2, 'def'}

In [14]:
myFriends = []
bool(myFriends)

False

In [15]:
myFriends = ['James','Robert','Lisa','Mary']
bool(myFriends)

True

In [16]:
myNum = ()
bool(myNum)

False

In [20]:
def print_name(name):
    if bool(name):
        print("입력된 이름:",name)
    else:
        print("입력된 이름이 없습니다.")
        
#print_name() 함수 호출
print_name("James\n")

print_name("")

입력된 이름: James

입력된 이름이 없습니다.

### 최솟값, 최댓값을 구하는 함수

In [21]:
myNum = [10,5,12,0,3.5,99.5,42]
[min(myNum),max(myNum)]

[0, 99.5]

In [22]:
myStr = 'zxyabc'
[min(myStr),max(myStr)]

['a', 'z']

In [23]:
myNum = (10,5,12,0,3.5,99.5,42)
[min(myNum),max(myNum)]

[0, 99.5]

In [24]:
myNum = {"Abc",'abc','bcd','efg'}
[min(myNum),max(myNum)]

['Abc', 'efg']

In [25]:
# 절댓값
[abs(10), abs(-10)]

[10, 10]

In [26]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [27]:
sumList = [1,2,3,4,5,6,7,8,9,10]
sum(sumList)

55

In [28]:
len("ab cd")

5

In [29]:
len([1,2,3,4,5,6,7,8])

8

In [30]:
len((1,2,3,4))

4

In [31]:
len({'a','b','c','d'})

4

In [32]:
len({1:"Thomas",2:"Edward",3:"Henry"})

3

In [39]:
scores = [90,80,95,85]

score_sum = 0
subject_num = 0
for score in scores:
    score_sum = score_sum + score
    subject_num = subject_num +1

    
average = score_sum / subject_num

print("총점:{0}, 평균: {1}".format(score_sum,average))

총점:350, 평균: 87.5